$background: #36393f;
$user-block: #2f3136;
$shadow: rgba(0, 0, 0, 0.77);
$bronze: #9f6c35;
$silver: #7c7c7c;
$gold: #d2a749;

* {
  margin: 0px;
  padding: 0px;
}

.body {
  display: flex;
  flex-direction: row;
  background-color: $background;
}

.box-user {
  font-size: 100px;
  width: 50%;
  margin: 80px auto auto 150px;
  display: flex;
  flex-direction: column;
}

.info-block {
  width: 80%;
  border-radius: 30px;
  background-color: $user-block;
  padding: 11px;
  margin: 1px;
  display: flex;
  flex-direction: column;
}

.user-block {
  display: flex;
  flex-direction: row;
  position: relative;
  &__img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
  }
  &__user-name {
    margin: 10px 0 0 10px;
    font-size: 18px;
    white-space: nowrap;
    color: #fff;
  }
  &__status {
    position: absolute;
    display: none;
    font-size: 30px;
    right: 10px;
    top: 5px;
  }
}

.info {
  display: none;
  flex-direction: row;
}

.bronze {
  color: $bronze;
}

.silver {
  color: $silver;
}

.gold {
  color: $gold;
}

.info-block:hover {
  position: relative;
  webkit-box-shadow: 1px 3px 8px 7px $shadow;
  -moz-box-shadow: 1px 3px 8px 7px $shadow;
  box-shadow: 1px 3px 8px 7px $shadow;
  .user-block__status {
    display: block;
  }
  .info {
    display: flex;
  }
}

.menu-box {
  display: flex;
  flex-direction: column;
  background-color: $user-block;
  padding: 20px;
  margin: 80px auto auto auto;
  left: auto;
  right: 10px;
  border-radius: 20px;
  &__text {
    text-align: center;
    white-space: nowrap;
    color: #fff;
    font-size: 25px;
  }
}
.menu-box:hover {
  padding: 0px;
  .sort-box__field {
    display: flex;
  }
}

.sort-box {
  text-align: center;
  color: #fff;
  &__field {
    display: none;
    font-size: 18px;
    white-space: nowrap;
    padding: 20px;
  }
  &__field:hover {
    position: relative;
    webkit-box-shadow: 1px 3px 8px 7px $shadow;
    -moz-box-shadow: 1px 3px 8px 7px $shadow;
    box-shadow: 1px 3px 8px 7px $shadow;
  }
  &__last-field {
    border-radius: 0 0 20px 20px;
  }
}

@media(max-width: 845px) {
  .box-user {
    margin: 20px;
  }
  .menu-box {
    margin: 20px auto auto auto;
  }
}

@media(max-width: 600px) {
  .body {
    flex-direction: column;
  }
  .box-user {
    width: 100%;
  }
}